__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
wheelhouse/
.eggs/
*.egg
.mypy_cache/
.ruff_cache/
.pytest_cache/
.tox/
*.so
*.dylib
.env
.venv/
env/
venv/
site/
SudaPy-Windows-x64/
sudapy_env.tar.gz
